:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

div {
  color: grey;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  overflow: hidden;
}

h1, h2, h3, p {
  position: relative;
  left: 5%;
  font-weight: 300;
}

#title {
  font-weight: semi-bold;
  color: #111111;
  /* margin-top: 4% */
  display:inline-block;
  margin-right:10px;

}

#bugslogo {
  display:inline-block;
  margin-right:10px;
  top: 10px;
  position: relative;
  width: 50px;
  height: 50px;
}

#subtitle {
  font-weight: semi-bold;
  color: rgb(34, 56, 93)
}

a {
  text-decoration: none;
  color: cornflowerblue;
  transition: 0.2s;
}


ul {
  list-style-type: none;
  padding: 0;
  position: relative;
  /* left: 0%; */
  /* top: 2%; */
  left: 5%;
  font-size: 30px;
}

li {
  margin-top: 1%
}

#links, li:visited {
  text-decoration: none;
  color: grey;
  transition: 0.2s;
}

#links:hover {
  color: black;
  transition: 0.2s;
}